/*
    DEMO STYLE
*/


@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
body {
font-family: 'Montserrat', sans-serif; 
background-color: whitesmoke;
    
}

.btn-whatsapp {
        display:block;
        width:90px;
        height:auto;
        color: #CB9959;
        position: fixed;
        right:5px;
        bottom:80px;
        border-radius:50%;
        line-height:80px;
        text-align:center;
        z-index:1000;
}
#efectos
{
    -webkit-transition:padding .3s,color 1s,border .5s,   background 1s; 
    -mozkit-transition:padding .3s,color 1s,border .5s,   background 1s; 
}

#efectos:hover   
{
padding: 1.5%;
}


#efectosc
{
    -webkit-transition:padding .2s,color 1s,border .5s,   background 1s; 
    -mozkit-transition:padding .2s,color 1s,border .5s,   background 1s; 
}

#efectosc:hover   
{
padding-top:28%;
}

*{
 scroll-behavior:smooth;     
}
.btn-boton
{
    background-color: #090916;
    color: white;
    border: 2px solid #090916;
    
}
.btn-boton:hover {
    color: whitesmoke;
    background: #CB9959;
    font-weight: 600;
    border: 2px solid white;
}
.azul
{
color:#090916 ;    
}
.dorado
{
  color:#090916 ;  
    
}
p {
   font-family: 'Montserrat', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
}
.titulos
{
    font-weight: 600;
    color: black;
}
.img
{
    max-width: 100%;
    height: auto;
    padding: .2%;
    justify-content: center;
    text-align: center;
    box-sizing: border-box;
    margin:  0 auto;
}
 #botonp
    {
        display: none;
    }

a,
a:hover,
a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

.navbar {
    padding: 15px 10px;
    background: #fff;
    border: none;
    border-radius: 0;
    margin-bottom: 40px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
}

.line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #ddd;
    margin: 40px 0;
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
    margin: 0 auto;
}

#sidebar {
    min-width: 17%;
    max-width: 17%;
    background: #090916;
    color: #fff;
    transition: all 0.3s;
    position: fixed;
    height: 100%;
    z-index: 10000;
overflow-y: scroll;
  
}

#sidebar.active {
    margin-left: -250px;
}

#sidebar .sidebar-header {
    padding: 20px;
    background: #090916;
}

#sidebar ul.components {
    padding: 20px 0;
    border-bottom: 1px solid #090916;
}

#sidebar ul p {
    color: #fff;
    padding: 10px;
 
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
       padding-top: 40px;
    padding-bottom: 40px;
}

#sidebar ul li a:hover {
    color: whitesmoke;
    background: #CB9959;
    font-weight: 600;
}

#sidebar ul li.active>a,
a[aria-expanded="true"] {
    color: #fff;
    background: #090916;
}

a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

ul ul a {
    font-size: 1em !important;
    padding-left: 30px !important;
    background: #090916;
}

ul.CTAs {
    padding: 20px;
}

ul.CTAs a {
    text-align: center;
    font-size: 1em !important;
    display: block;
    border-radius: 5px;
    margin-bottom: 5px;
}



a.article,
a.article:hover {
    background: #090916 !important;
    color: #fff !important;
}


/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */

#content {
    width: 83%;
    box-sizing: border-box;
    transition: all 0.3s;
background-color: #E8E8E8;
justify-content: center;
    text-align: center;
    margin-left: auto;
}

#sidebarCollapse
{display: none;}

#ocultar
{
    display: none;
}

#barrad

{
    display: none;
}

.principal
{
    padding-top: 10%;
    padding-bottom: 10%;
}
.secun
{
    padding-top:30%;
    color: whitesmoke;
}
.bp
{
    max-height: 100%;
  
}

/* BANNNER */
.banner{
max-width: 100%;
    height: 50%;
padding-top: 2.5%;
}


.carousel-indicators {
    position: relative;
    justify-content: center;
    list-style: none;
    margin:.5%;
   
}
#cic
{
padding: .5%;
    background-color:  #CB9959;
    color:#CB9959;  
}
/* PRODUCTOS */
.divi
{
    padding-top: 3%;
}
.divif
{
   padding-bottom: 5%;
}
.productos
{
    max-width: 100%;
    height: auto;
   backface-visibility: hidden;
    margin: 0 auto;
    box-sizing: border-box;
    display: flex;
   padding-left: 5%;
    padding-right: 5%;
   
    
}
.pros
{
    max-width: 33.3%;
    height: auto;
backface-visibility: hidden;
    margin: 0 auto;
    padding: 1.5%;
}
.cuadro1
{
    max-width: 100%;
    width: 500px;
height: auto;
    margin: 0 auto;
    justify-content: center;
    box-sizing: border-box;
    background-image: url(img/tres.png);
 background-attachment: scroll;
    background-repeat: no-repeat;
  padding-bottom: 35%;
    padding-top: 35%;
       background-position: center;
  background-size: contain;
}

.cuadro2
{
    max-width: 100%;
    width: 500px;
height: auto;
    margin: 0 auto;
    justify-content: center;
    box-sizing: border-box;
    background-image: url(img/dos.png);
 background-attachment: scroll;
    background-repeat: no-repeat;
  padding-bottom:35%;
    padding-top: 35%;
       background-position: center;
 background-size: contain;
}

.cuadro3
{
    max-width: 100%;
    width: 500px;
    margin: 0 auto;
    justify-content: center;
    box-sizing: border-box;
    background-image: url(img/uno.png);
 background-attachment: scroll;
    background-repeat: no-repeat;
  padding-bottom: 35%;
    padding-top: 35%;
    background-position: center;
    background-size: contain;
    max-height: 1600px;
    
}

.lpro
{
    color: white;
    font-weight: 500;
    background-color: #CB9959;
    padding-top: 1%;
    padding-bottom: 1%;
    opacity: .8;
}

.plecat
{
    border-bottom: solid 8px #090916;
    max-width: 32%;
    margin: 0 auto;
  padding-top: .5%;
    padding-bottom: .3%;
    box-sizing: border-box;
    margin-bottom: 2%;
    margin-top: 15;
    color: #090916;
   text-align: center;
}

.plecatt
{
       border-bottom: solid 8px #090916;
    max-width: 31%;

    padding-top: .5%;
    padding-bottom: .3%;
    box-sizing: border-box;
    margin-bottom: 2%;
    margin-top: 15;
    color: #090916;
   text-align: center;
}


/*NUESTROS CLIENTES*/

.clientes
{
    max-width: 100%;
    height: auto;
    padding-top: 12%;
    padding-bottom: 12%;
    text-align: left;
    background-image: url(img/nuestros.jpeg);
    background-attachment: fixed;
    background-position: right;
    padding-left: 5%;
    background-size: contain;
}

.rating


{display: flex;
text-align: left;
list-style: none;}

.clientesd
{
    max-width: 95%;
    height: auto;
    padding: 2.5%;
    margin: 0 auto;
    background-color: white;
    text-align: left;
    overflow-y: scroll;
    max-height: 100%;
    height: 500px;
    border-radius: 12px ;
}

/*PIE */

.pie
{
    
    max-width: 100%;
    padding-top: 5%;
    padding-bottom: 2%;
    padding-left: 25%;
    padding-right: 25%;
    margin: 0 auto;
    text-align: center;
    background-color: #CB9959 ;
    border-top-left-radius: 25%;
        border-top-right-radius: 25%;
    font-size: 1.1em;
    background-attachment: fixed;
}




/* ---------------------------------------------------
    CELULARES
----------------------------------------------------- */

@media (max-width: 1068px) {
    #sidebar {
        margin-left: -250px;
    }
    #sidebar.active {
        margin-left: 0;
    }
    #sidebarCollapse {
        display: block;
        margin-left: auto;
    }
    #sidebar {
    min-width:250px;
    max-width: 250px;
    transition: all 0.3s;
    position: fixed;
    height: 100%;
    z-index: 10000;
}
    .secun
{
    padding-top:15%;
    color: whitesmoke;
}
   
    #content {
    width: 100%;
    transition: all 0.3s;
}
#barrad
{
    display: block;
    
}
    
    /*BANNER*/
.banner
{
    padding-top: 28%;
    padding-bottom: 5%;
}

  .carousel-indicators {
    position: relative;
    justify-content: center;
    list-style: none;
    margin:.5%;
   
}
#cic
{
padding: .5%;
    background-color:  #CB9959;
    color:#CB9959;  
}
/* PRODUCTOS */
.divi
{
    padding-top: 3%;
}
.divif
{
   padding-bottom: 5%;
}
.productos
{
    max-width: 100%;
    height: auto;
   backface-visibility: hidden;
    margin: 0 auto;
    box-sizing: border-box;
    display: grid;
   padding-left: 0%;
    padding-right: 0%;
   
    
}
.pros
{
    max-width: 100%;
    height: auto;
backface-visibility: hidden;
    margin: 5% auto;
    padding: 1.5%;
    
}
.cuadro1
{
     max-width: 100%;
    width: 300px;
height: auto;
    margin: 0 auto;
    justify-content: center;
    box-sizing: border-box;
    background-image: url(img/tres.png);
 background-attachment: scroll;
    background-repeat: no-repeat;
  padding-bottom: 40%;
    padding-top:40%;
       background-position: center;
  background-size: contain;
}

.cuadro2
{
    max-width: 100%;
   width: 300px;
height: auto;
    margin: 0 auto;
    justify-content: center;
    box-sizing: border-box;
    background-image: url(img/dos.png);
 background-attachment: scroll;
    background-repeat: no-repeat;
 padding-bottom: 40%;
    padding-top:40%;
       background-position: center;
 background-size: contain;
}

.cuadro3
{
    max-width: 100%;
    width: 300px;
    margin: 0 auto;
    justify-content: center;
    box-sizing: border-box;
    background-image: url(img/uno.png);
 background-attachment: scroll;
    background-repeat: no-repeat;
  padding-bottom: 40%;
    padding-top:40%;
    background-position: center;
    background-size: contain;

    
}

.lpro
{
    color: white;
    font-weight: 500;
    background-color: #CB9959;
    padding-top: 1%;
    padding-bottom: 1%;
    opacity: .8;
}

.plecat
{
    border-bottom: solid 8px #090916;
    max-width: 90%;
    margin: 0 auto;
  padding-top: .5%;
    padding-bottom: .3%;
    box-sizing: border-box;
    margin-bottom: 2%;
    margin-top: 1%;
    color: #090916;
   text-align: center;
}

.plecatt
{
       border-bottom: solid 8px #090916;
    max-width: 31%;

    padding-top: .5%;
    padding-bottom: .3%;
    box-sizing: border-box;
    margin-bottom: 2%;
    margin-top: 15;
    color: #090916;
   text-align: center;
}


/*NUESTROS CLIENTES*/

.clientes
{
    max-width: 100%;
    height: auto;
    padding-top: 12%;
    padding-bottom: 12%;
    text-align: left;
    background-image: url(img/nuestros.jpeg);
    background-attachment: fixed;
    background-position: left;
    padding-left: 1.5%;
    background-size: contain;
    background-repeat: no-repeat;
}

.rating


{display: flex;
text-align: left;
list-style: none;}

.clientesd
{
    max-width: 100%;
    height: auto;
    padding: 5.5%;
    margin: 0 auto;
    background-color: white;
    text-align: left;
    overflow-y: scroll;
    max-height: 100%;
    height: 500px;
    border-radius: 12px ;
}

/*PIE */

.pie
{
    
    max-width: 100%;
    padding-top: 10%;
    padding-bottom: 5%;
    padding-left: 5%;
    padding-right: 5%;
    margin: 0 auto;
    text-align: center;
    background-color: #CB9959 ;
    border-top-left-radius: 25%;
        border-top-right-radius: 25%;
    font-size: .9em;
    background-attachment: fixed;
}

  #ocultar
{
    display: block;
}


}